* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: #ef961a;
  color: white;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #1b1b1a,
    #2f2e2e,
    #444443,
    #5a5a59
  );
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}
#scroll-to-bottom-button {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color:#ef961a;
  border-radius: 50%;
  color: #fff;
  border: none;
  padding: 20px 25px;
  cursor: pointer;
  animation: scrollToBottomButton 1s linear infinite;
}

@keyframes scrollToBottomButton {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
  100% {
      transform: translateY(0);
  }
}
/* nav bar responsive */
/* feed css */
@media only screen and (max-width: 320px) {
  .tab-nav-bar {
    display: none;
  }

  .menu-li {
    position: relative;
  }

  .menu-li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    top: 25px;
    left: 0;
    transition: width 0.3s;
  }
  .offcanvas {
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #1b1b1a,
      #2f2e2e,
      #444443,
      #5a5a59
    );
    background-repeat: no-repeat;
    background-size: auto;
  }
  .menu-li:hover::after {
    width: 100%;
  }
  .mobile-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
@media only screen and (min-width: 320px) {
  .tab-nav-bar {
    display: none;
  }

  .menu-li {
    position: relative;
  }

  .menu-li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    top: 25px;
    left: 0;
    transition: width 0.3s;
  }
  .offcanvas {
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #1b1b1a,
      #2f2e2e,
      #444443,
      #5a5a59
    );
    background-repeat: no-repeat;
    background-size: auto;
  }

  .menu-li:hover::after {
    width: 100%;
  }
  .mobile-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
/* changing */
@media only screen and (min-width: 768px) {
  .mobile-nav-bar {
    display: none;
  }
  .tab-nav-bar {
    display: block !important;
    position: sticky;
    top: 0;
    background-color: transparent; /* Customize the background color */
    z-index: 1000;
  }
  .tab-nav-bar .logo-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Add padding for spacing */
  }
  .offcanvas {
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #1b1b1a,
      #2f2e2e,
      #444443,
      #5a5a59
    );
    background-repeat: no-repeat;
    background-size: auto;
  }
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
  }
  .menu-li > a {
    color: white;
    text-decoration: none;
  }
  .logo-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-list {
    margin: 0;
    padding-right: 30px;
  }
}
/* landing page responsive */
.landing-page {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #1b1b1a,
    #2f2e2e,
    #444443,
    #5a5a59
  );
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.text-span {
  color: white;
  text-align: center;
}

.text-span > span {
  font-size: 20px; /* Adjust the font size for larger screens */
  text-transform: capitalize;
}

.daniyal {
  font-size: 42px !important;
  text-transform: capitalize;
}

#intro-text > span {
  color: #ef961a;
}

@media only screen and (max-width: 768px) {
  .text-span > span {
    font-size: 16px; /* Adjust the font size for medium-sized screens */
  }

  .daniyal {
    font-size: 36px !important;
  }
}

@media only screen and (max-width: 480px) {
  .text-span > span {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  .daniyal {
    font-size: 28px !important;
  }
}

/* about section full responsive */
/* feed css */
@media only screen and (max-width: 320px) {
  .myPictureContainer > img {
    width: -webkit-fill-available;
  }
  .s2-content > h3 {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #ef961a;
  }
  .s2-content > p {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #999999;
  }
  .s2-content {
    margin: 40px 0 0 0;
  }
  .s2-data {
    padding: 10px;
    text-transform: capitalize;
  }
  .s2-content--projects {
    padding: 10px;
    font-size: 24px;
  }
  .s2-content--projects > span:nth-child(1) {
    color: #ef961a;
  }
  .s2-content--projects > span:nth-child(2) {
    text-transform: capitalize;
  }
  .s2-content--button {
    color: white;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    outline: 2px solid #ef961a;
    padding: 10px 45px;
    margin: 10px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
  }
  .s2-content--button:hover {
    background: #ef961a;
    color: black;
  }
  .right-content--date {
    color: #ef961a;
  }
}
@media only screen and (min-width: 320px) {
  .myPictureContainer > img {
    width: -webkit-fill-available;
  }
  .s2-content > h3 {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #ef961a;
  }
  .s2-content > p {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #999999;
  }
  .s2-content {
    margin: 40px 0 0 0;
  }
  .s2-data {
    padding: 10px;
    text-transform: capitalize;
    line-height: 45px;
  }
  .s2-data span:nth-child(4n - 2) {
    color: #999999;
  }
  .s2-content--projects {
    padding: 10px;
    font-size: 24px;
  }
  .s2-content--projects > span:nth-child(1) {
    color: #ef961a;
  }
  .s2-content--projects > span:nth-child(2) {
    text-transform: capitalize;
  }
  .s2-content--button {
    color: white;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    border: 2px solid #ef961a;
    padding: 10px 45px;
    margin: 10px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
  }
  .s2-content--button:hover {
    background: #ef961a;
    color: black;
  }
  .right-content--date {
    color: #ef961a;
  }
}
/* changing */
@media only screen and (min-width: 768px) {
  .section-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: 0 20px;
    max-width: 620px;
    /* border: 1px solid; */
    margin: auto;
  }
  .myPictureContainer > .myPicture {
    width: 200px;
    margin-top: 57px;
  }
}
@media only screen and (min-width: 1024px) {
  .section-2 {
    max-width: 850px;
    padding: 50px 0;
  }
  .myPictureContainer > .myPicture {
    margin-top: 15px;
    width: 345px;
    object-fit: contain;
  }
  .s2-content {
    margin: 0;
    line-height: 34px;
  }
}
/* resume section full responsive */
/* feed css */
@media only screen and (min-width: 768px) {
  .left-and-right-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
  }
  .left-panel {
    background-color: transparent;
    height: 500px;
    width: 40%;
    position: sticky;
    left: 0;
    top: 81px;
  }
  .left-panel--ul {
    list-style: none;
  }
  .left-panel--ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 16px;
  }
  .right-panel {
    background-color: transparent;
    width: 100%;
    height: 1000px;
    height: auto;
  }
  .education--title,
  .experience--title,
  .skills--title,
  .awards--title {
    text-transform: capitalize;
    margin: 10px 0 35px 0;
    font-size: 24px;
    color: #ef961a;
  }
  .education--logo-and-content,
  .experience--logo-and-content,
  .skills--logo-and-content,
  .awards--logo-and-content {
    display: flex;
    gap: 30px;
  }
  .right-content--date,
  .right-content--description,
  .right-content--title-2,
  .right-content--title {
    font-size: 16px;
  }
  .right-content--description {
    color: #999999;
  }
  .education--logo-container,
  .experience--logo-container,
  .skills--logo-container,
  .awards--logo-container {
    background: #ef961a;
    height: fit-content;
    border-radius: 50%;
  }
  .right-content--title {
    font-weight: 700;
  }
  .right-content--title-2 {
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 768px) {
  .left-and-right-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
  }
  .left-panel {
    background-color: transparent;
    height: 500px;
    width: 40%;
    position: sticky;
    left: 0;
    top: 81px;
  }
  .left-panel--ul {
    list-style: none;
  }
  .left-panel--ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 16px;
  }
  .right-panel {
    background-color: transparent;
    width: 100%;
    height: 1000px;
    height: auto;
  }
  .education--title,
  .experience--title,
  .skills--title,
  .awards--title {
    text-transform: capitalize;
    margin: 10px 0 35px 0;
    font-size: 24px;
    color: #ef961a;
  }
  .education--logo-and-content,
  .experience--logo-and-content,
  .skills--logo-and-content,
  .awards--logo-and-content {
    display: flex;
    gap: 30px;
  }
  .right-content--date,
  .right-content--description,
  .right-content--title-2,
  .right-content--title {
    font-size: 16px;
  }
  .right-content--description {
    color: #999999;
  }
  .education--logo-container,
  .experience--logo-container,
  .skills--logo-container,
  .awards--logo-container {
    background: #ef961a;
    height: fit-content;
    border-radius: 50%;
  }
  .right-content--title {
    font-weight: 700;
  }
  .right-content--title-2 {
    text-transform: capitalize;
  }
}
/* changing */
@media only screen and (max-width: 768px) {
  .left-panel {
    display: none;
  }
  #education,
  #experience,
  #skills,
  #awards {
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .education--title,
  .experience--title,
  .skills--title,
  .awards--title {
    margin: 0 0 35px 0;
  }
}
/* feed css */
@media only screen and (max-width: 768px) {
  .container-html,
  .container-css,
  .container-js {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    box-shadow: 15px 15px 8.5px 6px #000;
    transition: ease-in-out 0.3s;
  }
  .container-html:hover,
  .container-css:hover,
  .container-js:hover {
    box-shadow: none;
  }

  .container-html > h3,
  .container-css > h3,
  .container-js > h3 {
    color: white;
    font-size: 32px;
    margin: 0;
    margin-bottom: 10px;
  }

  .circle-container-html,
  .circle-container-css,
  .circle-container-js {
    position: relative;
    width: fit-content;
  }

  .circle-container-html > h2,
  .circle-container-css > h2,
  .circle-container-js > h2 {
    color: white;
    color: white;
    position: absolute;
    top: 57px;
    left: 52px;
  }

  .circle-html,
  .circle-css,
  .circle-js {
    margin: auto;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .circle-html::after,
  .circle-css::after,
  .circle-js::after {
    content: "";
    position: absolute;
    height: 140px;
    width: 140px;
    background: #272626;
    border-radius: 50%;
    top: 5px;
    left: 5px;
  }

  .circle-html::before,
  .circle-css::before,
  .circle-js::before {
    content: "";
    position: absolute;
    height: 156px;
    width: 151px;
    top: 11px;
    left: -8px;
    background-color: #ef961a;
    transform: rotate(117deg);
  }

  .circle-html > span,
  .circle-css > span,
  .circle-js > span {
    position: relative;
  }

  .circle-html > span::after,
  .circle-css > span::after,
  .circle-js > span::after {
    content: "";
    width: 88px;
    height: 20px;
    background: #ef961a;
    position: absolute;
  }

  .circle-html > span::before,
  .circle-css > span::before,
  .circle-js > span::before {
    content: "";
    width: 39px;
    height: 71px;
    left: 123px;
    background-color: #ef961a;
    position: absolute;
    rotate: 34deg;
  }

  .container-html > h4,
  .container-css > h4,
  .container-js > h4 {
    color: white;
    text-align: center;
    line-height: 20px;
    color: #999999;
  }
  .html-css-js {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container-html,
  .container-css,
  .container-js {
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    box-shadow: 15px 15px 8.5px 6px #000;
    transition: ease-in-out 0.3s;
  }
  .container-html:hover,
  .container-css:hover,
  .container-js:hover {
    box-shadow: none;
  }

  .container-html > h3,
  .container-css > h3,
  .container-js > h3 {
    color: white;
    font-size: 32px;
    margin: 0;
    margin-bottom: 10px;
  }

  .circle-container-html,
  .circle-container-css,
  .circle-container-js {
    position: relative;
    width: fit-content;
  }

  .circle-container-html > h2,
  .circle-container-css > h2,
  .circle-container-js > h2 {
    color: white;
    color: white;
    position: absolute;
    top: 57px;
    left: 52px;
  }

  .circle-html,
  .circle-css,
  .circle-js {
    margin: auto;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .circle-html::after,
  .circle-css::after,
  .circle-js::after {
    content: "";
    position: absolute;
    height: 140px;
    width: 140px;
    background: #272626;
    border-radius: 50%;
    top: 5px;
    left: 5px;
  }

  .circle-html::before,
  .circle-css::before,
  .circle-js::before {
    content: "";
    position: absolute;
    height: 156px;
    width: 151px;
    top: 11px;
    left: -8px;
    background-color: #ef961a;
    transform: rotate(117deg);
  }

  .circle-html > span,
  .circle-css > span,
  .circle-js > span {
    position: relative;
  }

  .circle-html > span::after,
  .circle-css > span::after,
  .circle-js > span::after {
    content: "";
    width: 88px;
    height: 20px;
    background: #ef961a;
    position: absolute;
  }

  .circle-html > span::before,
  .circle-css > span::before,
  .circle-js > span::before {
    content: "";
    width: 39px;
    height: 71px;
    left: 123px;
    background-color: #ef961a;
    position: absolute;
    rotate: 34deg;
  }

  .container-html > h4,
  .container-css > h4,
  .container-js > h4 {
    color: white;
    text-align: center;
    line-height: 20px;
    color: #999999;
  }
  .html-css-js {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: auto;
  }
}
/* changing */
@media only screen and (max-width: 768px) {
  .html-css-js {
    flex-wrap: wrap;
  }
}
/* services section full responsive */
/* feed css */
@media only screen and (max-width: 768px) {
  .services {
    padding: 20px;
  }
  .services--title {
    color: #ef961a;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
  }
  .services--description {
    text-align: center;
    max-width: 85%;
    margin: auto;
    line-height: 40px;
    color: #999999;
    margin-bottom: 50px;
  }
  .services--flex-1-and-2 {
    padding: 20px;
  }
  .services--flex-1,
  .services--flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .web-design,
  .web-development,
  .graphic-design,
  .layouts,
  .templates,
  .seo {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transition: background-color 0.3s;
    box-shadow: 15px 15px 8.5px 6px #000;
    transition: box-shadow 0.3s;
  }
  .web-design:hover,
  .web-development:hover,
  .graphic-design:hover,
  .layouts:hover,
  .templates:hover,
  .seo:hover {
    background-color: #ef961a;
    box-shadow: none;
  }
  .web-design--img-container,
  .web-development--img-container,
  .graphic-design--img-container,
  .layouts--img-container,
  .templates--img-container,
  .seo--img-container {
    background-color: #ef961a;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .web-design--img-container > img,
  .web-development--img-container > img,
  .graphic-design--img-container > img,
  .layouts--img-container > img,
  .templates--img-container > img,
  .seo--img-container > img {
    padding: 10px;
  }
  .web-design--title,
  .web-development--title,
  .graphic-design--title,
  .layouts--title,
  .templates--title,
  .seo--title {
    text-transform: capitalize;
    position: relative;
    margin-bottom: 20px;
    transition: color 0.3s;
  }
  .web-design:hover .web-design--title,
  .web-development:hover .web-development--title,
  .graphic-design:hover .graphic-design--title,
  .layouts:hover .layouts--title,
  .templates:hover .templates--title,
  .seo:hover .seo--title {
    color: black;
  }
  .web-design--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 25px;
    transition: background-color 0.3s;
  }
  .web-development--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 50px;
    transition: background-color 0.3s;
  }
  .graphic-design--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 37px;
    transition: background-color 0.3s;
  }
  .layouts--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 50px;
    transition: background-color 0.3s;
  }
  .templates--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 58px;
    transition: background-color 0.3s;
  }
  .seo--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 84px;
    transition: background-color 0.3s;
  }
  .web-design:hover .web-design--title::after,
  .web-development:hover .web-development--title::after,
  .graphic-design:hover .graphic-design--title::after,
  .layouts:hover .layouts--title::after,
  .templates:hover .templates--title::after,
  .seo:hover .seo--title::after {
    background-color: #000;
  }
  .web-design--description,
  .web-development--description,
  .graphic-design--description,
  .layouts--description,
  .templates--description,
  .seo--description {
    text-align: center;
    color: #999999;
    transition: color 0.3s;
  }
  .web-design:hover .web-design--description,
  .web-development:hover .web-development--description,
  .graphic-design:hover .graphic-design--description,
  .layouts:hover .layouts--description,
  .templates:hover .templates--description,
  .seo:hover .seo--description {
    color: black;
  }
}
@media only screen and (min-width: 768px) {
  .services {
    padding: 20px;
  }
  .services--title {
    color: #ef961a;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
  }
  .services--description {
    text-align: center;
    max-width: 85%;
    margin: auto;
    line-height: 40px;
    color: #999999;
    margin-bottom: 50px;
  }
  .services--flex-1-and-2 {
    padding: 20px;
  }
  .services--flex-1,
  .services--flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  .web-design,
  .web-development,
  .graphic-design,
  .layouts,
  .templates,
  .seo {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transition: background-color 0.3s;
    box-shadow: 15px 15px 8.5px 6px #000;
    transition: box-shadow 0.3s;
  }
  .web-design:hover,
  .web-development:hover,
  .graphic-design:hover,
  .layouts:hover,
  .templates:hover,
  .seo:hover {
    background-color: #ef961a;
    box-shadow: none;
  }
  .web-design--img-container,
  .web-development--img-container,
  .graphic-design--img-container,
  .layouts--img-container,
  .templates--img-container,
  .seo--img-container {
    background-color: #ef961a;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .web-design--img-container > img,
  .web-development--img-container > img,
  .graphic-design--img-container > img,
  .layouts--img-container > img,
  .templates--img-container > img,
  .seo--img-container > img {
    padding: 10px;
  }
  .web-design--title,
  .web-development--title,
  .graphic-design--title,
  .layouts--title,
  .templates--title,
  .seo--title {
    text-transform: capitalize;
    position: relative;
    margin-bottom: 20px;
    transition: color 0.3s;
  }
  .web-design:hover .web-design--title,
  .web-development:hover .web-development--title,
  .graphic-design:hover .graphic-design--title,
  .layouts:hover .layouts--title,
  .templates:hover .templates--title,
  .seo:hover .seo--title {
    color: black;
  }
  .web-design--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 25px;
    transition: background-color 0.3s;
  }
  .web-development--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 50px;
    transition: background-color 0.3s;
  }
  .graphic-design--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 37px;
    transition: background-color 0.3s;
  }
  .layouts--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 50px;
    transition: background-color 0.3s;
  }
  .templates--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 58px;
    transition: background-color 0.3s;
  }
  .seo--title::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #fff;
    top: 32px;
    left: 84px;
    transition: background-color 0.3s;
  }
  .web-design:hover .web-design--title::after,
  .web-development:hover .web-development--title::after,
  .graphic-design:hover .graphic-design--title::after,
  .layouts:hover .layouts--title::after,
  .templates:hover .templates--title::after,
  .seo:hover .seo--title::after {
    background-color: #000;
  }
  .web-design--description,
  .web-development--description,
  .graphic-design--description,
  .layouts--description,
  .templates--description,
  .seo--description {
    text-align: center;
    color: #999999;
    transition: color 0.3s;
  }
  .web-design:hover .web-design--description,
  .web-development:hover .web-development--description,
  .graphic-design:hover .graphic-design--description,
  .layouts:hover .layouts--description,
  .templates:hover .templates--description,
  .seo:hover .seo--description {
    color: black;
  }
}
/* changing */
@media only screen and (max-width: 768px) {
  .services--description {
    max-width: 100%;
  }
  .services--flex-1,
  .services--flex-2 {
    flex-wrap: wrap;
  }
}
/* projects section full responsive */
/* feed css */
@media only screen and (max-width: 1024px) {
  .projects {
    padding: 20px;
    height: auto;
  }

  .projects--title {
    text-transform: capitalize;
    color: #ef961a;
    text-align: center;
    margin-bottom: 25px;
  }

  .projects--description {
    color: #999999;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-bottom: 25px;
    line-height: 30px;
  }

  .projects--flex-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .colorFlipper--img-container,
  .counter--img-container,
  .grocery--img-container {
    position: relative;
    max-width: 100%; /* Make images responsive */
  }

  .colorFlipper--img-container::after,
  .counter--img-container::after,
  .grocery--img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ef961a;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s; /* Set the transition duration to 0.3s */
  }

  .colorFlipper--img-container:hover::after,
  .counter--img-container:hover::after,
  .grocery--img-container:hover::after {
    opacity: 0.8;
  }
  .colorFlipper--img-container > span,
  .counter--img-container > span,
  .grocery--img-container > span {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .colorFlipper--img-container:hover > span,
  .counter--img-container:hover > span,
  .grocery--img-container:hover > span {
    display: flex;
    opacity: 1;
    z-index: 1;
    font-size: large;
    letter-spacing: 5px;
    line-height: 50px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 1024px) {
  .projects {
    padding: 20px;
    height: auto;
  }

  .projects--title {
    text-transform: capitalize;
    color: #ef961a;
    text-align: center;
    margin-bottom: 25px;
  }

  .projects--description {
    color: #999999;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-bottom: 25px;
    line-height: 30px;
  }

  .projects--flex-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .colorFlipper--img-container,
  .counter--img-container,
  .grocery--img-container {
    position: relative;
    max-width: 100%; /* Make images responsive */
  }

  .colorFlipper--img-container::after,
  .counter--img-container::after,
  .grocery--img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ef961a;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s; /* Set the transition duration to 0.3s */
  }

  .colorFlipper--img-container:hover::after,
  .counter--img-container:hover::after,
  .grocery--img-container:hover::after {
    opacity: 0.8;
  }
  .colorFlipper--img-container > span,
  .counter--img-container > span,
  .grocery--img-container > span {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .colorFlipper--img-container:hover > span,
  .counter--img-container:hover > span,
  .grocery--img-container:hover > span {
    display: flex;
    opacity: 1;
    z-index: 1;
    font-size: large;
    letter-spacing: 5px;
    line-height: 50px;
    font-weight: 500;
  }
}
/* changing */
@media only screen and (max-width: 1024px) {
  .projects--flex-1 {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .projects--flex-1 {
    gap: 60px;
  }
}
/* contact section full responsive */
/* feed css */
@media only screen and (max-width: 768px) {
  .contact {
    padding: 40px;
    height: auto;
  }
  .contact--title {
    color: #ef961a;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
  .contact--description {
    color: #999999;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
  .contact--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .address,
  .phone,
  .email,
  .website {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 15px 15px 8.5px 6px #000;
    padding: 30px;
    transition: box-shadow 0.3s;
  }
  .address:hover,
  .phone:hover,
  .email:hover,
  .website:hover {
    box-shadow: none;
  }
  .address--img-container,
  .phone--img-container,
  .email--img-container,
  .website--img-container {
    margin-bottom: 20px;
    position: relative;
  }
  .address--img-container::after,
  .phone--img-container::after,
  .email--img-container::after,
  .website--img-container::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -9px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ef961a;
    z-index: -1;
  }
  .address--title,
  .phone--title,
  .email--title,
  .website--title {
    color: #ef961a;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .address--description,
  .phone--description,
  .email--description,
  .website--description {
    text-align: center;
    color: #999999;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .contact {
    padding: 40px;
    height: auto;
  }
  .contact--title {
    color: #ef961a;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
  }
  .contact--description {
    color: #999999;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }
  .contact--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .address,
  .phone,
  .email,
  .website {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 15px 15px 8.5px 6px #000;
    padding: 30px;
    transition: box-shadow 0.3s;
  }
  .address:hover,
  .phone:hover,
  .email:hover,
  .website:hover {
    box-shadow: none;
  }
  .address--img-container,
  .phone--img-container,
  .email--img-container,
  .website--img-container {
    margin-bottom: 20px;
    position: relative;
  }
  .address--img-container::after,
  .phone--img-container::after,
  .email--img-container::after,
  .website--img-container::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -9px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ef961a;
    z-index: -1;
  }
  .address--title,
  .phone--title,
  .email--title,
  .website--title {
    color: #ef961a;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .address--description,
  .phone--description,
  .email--description,
  .website--description {
    text-align: center;
    color: #999999;
    margin-bottom: 10px;
  }
}
/* changing */
@media only screen and (max-width: 768px) {
  .contact--flex {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width:1230px) and (min-width:768px) {
  .contact--flex{
    flex-wrap: wrap;
  }
}
/* contact--img-and-content */
/* feed css */
::placeholder {
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .contact--img-and-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 80px;
    margin: 60px;
    box-shadow: inset 3.5px 3px 13.5px 3.5px #000000;
  }
  .img-and-content--img-container > img {
    margin-bottom: 50px;
    margin-left: 5px;
  }
  input[type="text"] {
    margin-bottom: 50px;
    padding: 10px 70px 10px 10px;
  }
  label {
    font-weight: bold;
  }
  textarea {
    border: 1px solid #ccc;
    padding: 10px;
    resize: vertical;
    padding: 18px;
  }
  .content--button-container {
    width: 62%;
    margin: auto;
  }
  .content--button-container > button {
    padding: 14px 40px;
    border-radius: 20px;
    background: transparent;
    margin: 20px 0;
    border: none;
    text-transform: capitalize;
    background-color: #ef961a;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
}
@media only screen and (min-width: 768px) {
  .contact--img-and-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 80px;
    margin: 60px;
    box-shadow: inset 3.5px 3px 13.5px 3.5px #000000;
  }
  .img-and-content--img-container > img {
    margin-bottom: 50px;
    margin-left: 5px;
  }
  input[type="text"] {
    margin-bottom: 50px;
    padding: 10px 70px 10px 10px;
  }
  label {
    font-weight: bold;
  }
  textarea {
    border: 1px solid #ccc;
    padding: 10px;
    resize: vertical;
    padding: 18px;
  }
  .content--button-container {
    width: 62%;
    margin: auto;
  }
  .content--button-container > button {
    padding: 14px 40px;
    border-radius: 20px;
    background: transparent;
    margin: 20px 0;
    border: none;
    text-transform: capitalize;
    background-color: #ef961a;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
}
/* changing */
@media only screen and (max-width: 1440px) {
  .content--button-container > button {
    width: 111%;
  }
}
@media only screen and (max-width: 1024px) {
  .contact--img-and-content {
    flex-direction: column-reverse;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 60px;
  }
  input[type="text"] {
    margin-bottom: 20px;
    padding: 10px 104px 10px 10px;
  }
  textarea {
    padding: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .contact--img-and-content {
    width: 100%;
    padding: 1px;
    padding-top: 26px;
  }
}
@media only screen and (max-width:425px){
  input[type = "text"]{
    padding-right: 35px;
  }
  textarea{
    padding: 0px;
  }
  .content--button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content--button-container > button{
    width: 200px;
  }
  .img-and-content--img-container >img{
    width: 200px;
  }
}
/* footer */
/* feed css */
@media only screen and (max-width:1024px) {
  .footer {
    padding: 40px;
    height: auto;
  }
  .footer--flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
  }
  .footer--address,
  .footer--phone,
  .footer--mail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
  }
  .footer--links--ul,
  .footer--services--ul {
    list-style: none;
    padding: 0;
  }
  .footer--links--ul > li > a,
  .footer--services--ul > li > a {
    color: #999999;
    text-transform: capitalize;
    text-decoration: none;
  }
  .footer--about--title,
  .footer--links--title,
  .footer--services--title,
  .footer--faqs--title {
    text-transform: capitalize;
  }
  .footer--about--description,
  .footer--links--description,
  .footer--services--description,
  .footer--faqs--description,
  .footer--address--description,
  .footer--phone--description,
  .footer--mail--description {
    color: #999999;
  }
  .footer--faqs{
    line-height: 58px;
  }
  .footer--about, .footer--links, .footer--services{
    line-height: 35px;
  }
  .footer--services{
    width: 100%;
  }
  .footer--services--ul >li{
    width: 200px;
  }
}
@media only screen and (min-width:1024px) {
  .footer {
    padding: 40px;
    height: auto;
  }
  .footer--flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
  }
  .footer--address,
  .footer--phone,
  .footer--mail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
  }
  .footer--links--ul,
  .footer--services--ul {
    list-style: none;
    padding: 0;
  }
  .footer--links--ul > li > a,
  .footer--services--ul > li > a {
    color: #999999;
    text-transform: capitalize;
    text-decoration: none;
  }
  .footer--about--title,
  .footer--links--title,
  .footer--services--title,
  .footer--faqs--title {
    text-transform: capitalize;
  }
  .footer--about--description,
  .footer--links--description,
  .footer--services--description,
  .footer--faqs--description,
  .footer--address--description,
  .footer--phone--description,
  .footer--mail--description {
    color: #999999;
  }
  .footer--faqs{
    line-height: 58px;
  }
  .footer--about, .footer--links, .footer--services{
    line-height: 35px;
  }
  .footer--services{
    width: 100%;
  }
  .footer--services--ul >li{
    width: 200px;
  }
}
/* changing */
@media only screen and (max-width:1024px){
  .footer--flex{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer--about--description{
    width: 50%;
  }
}
