* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #1b1b1a,
    #2f2e2e,
    #444443,
    #5a5a59
  );
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}
/* nav bar responsive */
/* feed css */
@media only screen and (max-width: 320px) {
  .tab-nav-bar {
    display: none;
  }

  .menu-li {
    position: relative;
  }

  .menu-li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    top: 25px;
    left: 0;
    transition: width 0.3s;
  }
  .offcanvas {
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #1b1b1a,
      #2f2e2e,
      #444443,
      #5a5a59
    );
    background-repeat: no-repeat;
    background-size: auto;
  }
  .menu-li:hover::after {
    width: 100%;
  }
  .mobile-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
@media only screen and (min-width: 320px) {
  .tab-nav-bar {
    display: none;
  }

  .menu-li {
    position: relative;
  }

  .menu-li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    top: 25px;
    left: 0;
    transition: width 0.3s;
  }
  .offcanvas {
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #1b1b1a,
      #2f2e2e,
      #444443,
      #5a5a59
    );
    background-repeat: no-repeat;
    background-size: auto;
  }

  .menu-li:hover::after {
    width: 100%;
  }
  .mobile-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
/* changing */
@media only screen and (min-width: 768px) {
  .mobile-nav-bar {
    display: none;
  }
  .tab-nav-bar {
    display: block !important;
    position: sticky;
    top: 0;
    background-color: transparent; /* Customize the background color */
    z-index: 1000;
  }
  .tab-nav-bar .logo-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; /* Add padding for spacing */
  }
  .offcanvas {
    background-image: linear-gradient(
      to right bottom,
      #000000,
      #1b1b1a,
      #2f2e2e,
      #444443,
      #5a5a59
    );
    background-repeat: no-repeat;
    background-size: auto;
  }
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
  }
  .menu-li > a {
    color: white;
    text-decoration: none;
  }
  .logo-and-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-list {
    margin: 0;
    padding-right: 30px;
  }
}
/* landing page responsive */
.landing-page {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #1b1b1a,
    #2f2e2e,
    #444443,
    #5a5a59
  );
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.text-span {
  color: white;
  text-align: center;
}

.text-span > span {
  font-size: 20px; /* Adjust the font size for larger screens */
  text-transform: capitalize;
}

.daniyal {
  font-size: 42px !important;
  text-transform: capitalize;
}

#intro-text > span {
  color: #ef961a;
}

@media only screen and (max-width: 768px) {
  .text-span > span {
    font-size: 16px; /* Adjust the font size for medium-sized screens */
  }

  .daniyal {
    font-size: 36px !important;
  }
}

@media only screen and (max-width: 480px) {
  .text-span > span {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }

  .daniyal {
    font-size: 28px !important;
  }
}

/* about section full responsive */
/* feed css */
@media only screen and (max-width: 320px) {

  
  .myPictureContainer > img {
    width: -webkit-fill-available;
  }
  .s2-content > h3 {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .s2-content > p {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #999999;
  }
  .s2-content {
    margin: 40px 0 0 0;
  }
  .s2-data {
    padding: 10px;
    text-transform: capitalize;
  }
  .s2-content--projects {
    padding: 10px;
    font-size: 24px;
  }
  .s2-content--projects > span:nth-child(1) {
    color: #ef961a;
  }
  .s2-content--projects > span:nth-child(2) {
    text-transform: capitalize;
  }
  .s2-content--button {
    color: white;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    outline: 2px solid #ef961a;
    padding: 10px 45px;
    margin: 10px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
  }
  .s2-content--button:hover {
    background: #ef961a;
    color: black;
  }
  .right-content--date {
    color: #ef961a;
  }
}
@media only screen and (min-width: 320px) {

  .myPictureContainer > img {
    width: -webkit-fill-available;
  }
  .s2-content > h3 {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .s2-content > p {
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #999999;
  }
  .s2-content {
    margin: 40px 0 0 0;
  }
  .s2-data {
    padding: 10px;
    text-transform: capitalize;
    line-height: 45px;
  }
  .s2-data span:nth-child(4n - 2) {
    color: #999999;
  }
  .s2-content--projects {
    padding: 10px;
    font-size: 24px;
  }
  .s2-content--projects > span:nth-child(1) {
    color: #ef961a;
  }
  .s2-content--projects > span:nth-child(2) {
    text-transform: capitalize;
  }
  .s2-content--button {
    color: white;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    border: 2px solid #ef961a;
    padding: 10px 45px;
    margin: 10px;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
  }
  .s2-content--button:hover {
    background: #ef961a;
    color: black;
  }
  .right-content--date {
    color: #ef961a;
  }
}
/* changing */
@media only screen and (min-width: 768px) {
  .section-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: 0 20px;
    max-width: 620px;
    /* border: 1px solid; */
    margin: auto;
  }
  .myPictureContainer > .myPicture {
    width: 200px;
    margin-top: 57px;
  }
}
@media only screen and (min-width: 1024px) {
  .section-2 {
    max-width: 850px;
    padding: 50px 0;
  }
  .myPictureContainer > .myPicture {
    margin-top: 15px;
    width: 345px;
    object-fit: contain;
  }
  .s2-content {
    margin: 0;
    line-height: 34px;
  }
}
/* resume section full responsive */
/* feed css */
@media only screen and (min-width: 768px) {
  .left-and-right-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
  }
  .left-panel {
    background-color: transparent;
    height: 500px;
    width: 40%;
    position: sticky;
    left: 0;
    top: 81px;
  }
  .left-panel--ul {
    list-style: none;
  }
  .left-panel--ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 16px;
  }
  .right-panel {
    background-color: transparent;
    width: 100%;
    height: 1000px;
    height: auto;
  }
  .education--title,
  .experience--title,
  .skills--title,
  .awards--title {
    text-transform: capitalize;
    margin: 10px 0 35px 0;
    font-size: 24px;
    color: #ef961a;
  }
  .education--logo-and-content,
  .experience--logo-and-content, 
  .skills--logo-and-content, 
  .awards--logo-and-content {
    display: flex;
    gap: 30px;
  }
  .right-content--date,
  .right-content--description,
  .right-content--title-2,
  .right-content--title {
    font-size: 16px;
  }
  .right-content--description {
    color: #999999;
  }
  .education--logo-container,
  .experience--logo-container, 
  .skills--logo-container, 
  .awards--logo-container {
    background: #ef961a;
    height: fit-content;
    border-radius: 50%;
  }
  .right-content--title {
    font-weight: 700;
  }
  .right-content--title-2 {
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 768px) {
  .left-and-right-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 20px;
  }
  .left-panel {
    background-color: transparent;
    height: 500px;
    width: 40%;
    position: sticky;
    left: 0;
    top: 81px;
  }
  .left-panel--ul {
    list-style: none;
  }
  .left-panel--ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 16px;
  }
  .right-panel {
    background-color: transparent;
    width: 100%;
    height: 1000px;
    height: auto;
  }
  .education--title,
  .experience--title,
  .skills--title,
  .awards--title {
    text-transform: capitalize;
    margin: 10px 0 35px 0;
    font-size: 24px;
    color: #ef961a;
  }
  .education--logo-and-content,
  .experience--logo-and-content, 
  .skills--logo-and-content, 
  .awards--logo-and-content {
    display: flex;
    gap: 30px;
  }
  .right-content--date,
  .right-content--description,
  .right-content--title-2,
  .right-content--title {
    font-size: 16px;
  }
  .right-content--description {
    color: #999999;
  }
  .education--logo-container,
  .experience--logo-container, 
  .skills--logo-container, 
  .awards--logo-container {
    background: #ef961a;
    height: fit-content;
    border-radius: 50%;
  }
  .right-content--title {
    font-weight: 700;
  }
  .right-content--title-2 {
    text-transform: capitalize;
  }
}
/* changing */
@media only screen and (max-width: 768px) {
  .left-panel {
    display: none;
  }
  #education,
  #experience,
  #skills, 
  #awards {
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .education--title,
  .experience--title, 
  .skills--title, 
  .awards--title {
    margin: 0 0 35px 0;
  }
}
/* feed css */
@media only screen and (max-width:768px) {
  .container-html,
.container-css,
.container-js {
  width: 100%;
  height: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  box-shadow: 15px 15px 8.5px 6px #000;
  transition: ease-in-out 0.3s;
}
.container-html:hover,
.container-css:hover,
.container-js:hover {
  box-shadow: none;
}

.container-html > h3,
.container-css > h3,
.container-js > h3 {
  color: white;
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

.circle-container-html,
.circle-container-css,
.circle-container-js {
  position: relative;
  width: fit-content;
}

.circle-container-html > h2,
.circle-container-css > h2,
.circle-container-js > h2 {
  color: white;
  color: white;
  position: absolute;
  top: 57px;
  left: 52px;
}

.circle-html,
.circle-css,
.circle-js {
  margin: auto;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle-html::after,
.circle-css::after,
.circle-js::after {
  content: "";
  position: absolute;
  height: 140px;
  width: 140px;
  background: #272626;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.circle-html::before,
.circle-css::before,
.circle-js::before {
  content: "";
  position: absolute;
  height: 156px;
  width: 151px;
  top: 11px;
  left: -8px;
  background-color: #ef961a;
  transform: rotate(117deg);
}

.circle-html > span,
.circle-css > span,
.circle-js > span {
  position: relative;
}

.circle-html > span::after,
.circle-css > span::after,
.circle-js > span::after {
  content: "";
  width: 88px;
  height: 20px;
  background: #ef961a;
  position: absolute;
}

.circle-html > span::before,
.circle-css > span::before,
.circle-js > span::before {
  content: "";
  width: 39px;
  height: 71px;
  left: 123px;
  background-color: #ef961a;
  position: absolute;
  rotate: 34deg;
}

.container-html > h4,
.container-css > h4,
.container-js > h4 {
  color: white;
  text-align: center;
  line-height: 20px;
  color: #999999;
}
.html-css-js{
  display: flex; align-items: center; justify-content: center; gap: 20px; width: 90%; margin: auto;
}

}
@media only screen and (min-width:768px) {
  .container-html,
.container-css,
.container-js {
  width: 100%;
  height: auto;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  box-shadow: 15px 15px 8.5px 6px #000;
  transition: ease-in-out 0.3s;
}
.container-html:hover,
.container-css:hover,
.container-js:hover {
  box-shadow: none;
}

.container-html > h3,
.container-css > h3,
.container-js > h3 {
  color: white;
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

.circle-container-html,
.circle-container-css,
.circle-container-js {
  position: relative;
  width: fit-content;
}

.circle-container-html > h2,
.circle-container-css > h2,
.circle-container-js > h2 {
  color: white;
  color: white;
  position: absolute;
  top: 57px;
  left: 52px;
}

.circle-html,
.circle-css,
.circle-js {
  margin: auto;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle-html::after,
.circle-css::after,
.circle-js::after {
  content: "";
  position: absolute;
  height: 140px;
  width: 140px;
  background: #272626;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.circle-html::before,
.circle-css::before,
.circle-js::before {
  content: "";
  position: absolute;
  height: 156px;
  width: 151px;
  top: 11px;
  left: -8px;
  background-color: #ef961a;
  transform: rotate(117deg);
}

.circle-html > span,
.circle-css > span,
.circle-js > span {
  position: relative;
}

.circle-html > span::after,
.circle-css > span::after,
.circle-js > span::after {
  content: "";
  width: 88px;
  height: 20px;
  background: #ef961a;
  position: absolute;
}

.circle-html > span::before,
.circle-css > span::before,
.circle-js > span::before {
  content: "";
  width: 39px;
  height: 71px;
  left: 123px;
  background-color: #ef961a;
  position: absolute;
  rotate: 34deg;
}

.container-html > h4,
.container-css > h4,
.container-js > h4 {
  color: white;
  text-align: center;
  line-height: 20px;
  color: #999999;
}
.html-css-js{
  display: flex; align-items: center; justify-content: center; gap: 20px; width: 90%; margin: auto;
}

}
/* changing */
@media only screen and (max-width:768px) {
  .html-css-js{
    flex-wrap: wrap;
  }
}
/* services section full responsive */
